Package: tingbot-os
Version: 1.2.2
Architecture: all
Pre-Depends: python (>=2.7), python-pip, python-dev, git
Depends: avahi-daemon, evtest, tslib, libts-bin, python-pygame, rsync, omxplayer, wiringpi, libsdl1.2debian (=1.2.15-5), python-zmq, python-imaging, libffi-dev, libssl-dev
Maintainer: Joe Rickerby
Description: The Tingbot OS.
Homepage: http://github.com/tingbot/tingbot-os
